<%= semantic_form_for category do |f| %>
	<%= f.inputs I18n.t 'category_form_edit_table_title' do   %>
    <%=   f.input :category_encoding %>
    <%=   f.input :category_name%>
    <%=   f.input :category_comment%>
    <%=   f.input :updated_by_email, :wrapper_html => { :style => "display:none;" }%>
    <% end%>              
    <%= f.actions do %>
   		<%= f.action :submit %>
  	    <li class="cancel"><%= link_to "Cancel", collection_url %></li>
	<% end %>         
<% end %>