<li>
	<%= label "category", I18n.t("activerecord.attributes.category.name"), :class => "label" %>
	<%= text_field "category", "name"%>
</li>
<li>
	<%= label "category", I18n.t("activerecord.attributes.category.comment"), :class => "label" %>
	<%= text_field "category", "comment"%>
</li>
<li>
	<%= label "category", I18n.t("activerecord.attributes.category.level1"), :class => "label" %>
	<%= text_field "category", "level1"%>
</li>
<li style="display: none">
	<%= label "category", I18n.t("activerecord.attributes.category.level2"), :class => "label" %>
	<%= text_field "category", "level2", :value => "00" %>
</li>
<li style="display: none">
	<%= label "category", I18n.t("activerecord.attributes.category.level3"), :class => "label" %>
	<%= text_field "category", "level3", :value => "00" %>
</li>
<li style="display: none">
	<%= label "category", I18n.t("activerecord.attributes.category.level4"), :class => "label" %>
	<%= text_field "category", "level4", :value => "00"%>
</li>
