<%= semantic_form_for [:admin, @category] do |f| %>
    <%= f.inputs :category_details do%>
    	<%= f.input :name %>
    	<%= f.input :comment %>
    	<%= f.input :category_type, :as => :select, :collection => COMPONENT_CATEGORY_DEFINITION.map {|r| [I18n.t("category.#{r}"),r]}, :input_html => {:disabled => true}%>
    	<% case f.object.category_type%>
    		<% when :CATEGORY_LEVEL1 %>
    			<%= f.input :level1 %>
    		<% when :CATEGORY_LEVEL2 %>
    			<%= f.input :level1, :input_html => {:disabled => true} %>
    			<%= f.input :level2 %>
    		<% when :CATEGORY_LEVEL3 %>
    			<%= f.input :level1, :input_html => {:disabled => true} %>
    			<%= f.input :level2, :input_html => {:disabled => true} %>    			
    			<%= f.input :level3 %>    			    			
    		<% else %>
    			<%= f.input :level1, :input_html => {:disabled => true} %>
    			<%= f.input :level2, :input_html => {:disabled => true} %>    			
    			<%= f.input :level3, :input_html => {:disabled => true} %>
		    	<%= f.input :level4 %>
    	<% end %>     
    <% end %>
    <%= f.actions do %>
    <%=	f.action :submit %>
    	<li class="cancel"> <%=link_to "Cancel", category_collection_with_scope(f.object.category_type) %></li>
    <% end %>
<% end %>